<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test blog</title>
    </head>
    <body>
        <div>
            <h1>
                Page title here
            </h1>
        </div>
        <hr>
        <div>
            <p>
                published date and time
            </p>
            <h2>
                (1) post title here
            </h2>
            <p>
                (1) post contents here
            </p>
        </div>
        <hr>
        <div>
            <p>
                published date and time
            </p>
            <h2>
                (2) post title here
            </h2>
            <p>
                (2) post contents here
            </p>
        </div>
    </body>
</html>